.supt-cffc__formats {

	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		background-color: white;
	}

	&-label {
		font-weight: bold;
	}

	&-item {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 8px;
		padding: 8px 8px 0px;

		&:not(:first-child) {
			border-top: 1px solid #ccc;
		}

		label, input, select, button {
			font-size: 12px;
			width: 100%;
		}

		.supt-cffc__field {

			display: grid;
			grid-template-columns: 90px 1fr;
			column-gap: 8px;
			align-items: center;
			margin: 0;

			label {
				grid-column: 1;
				margin: 0;
			}

			input, select, button {
				grid-column: 2;
			}
		}

		.supt-cffc__formats-item-remove {
			text-align: center;

			button {
				display: inline;
				text-align: center;
				font-size: 12px;
				min-height: 0;
			}
		}
	}
}
