.supt-cffc {
	border: 1px solid #ddd;
	width: 100%;

	legend {
		font-weight: bold;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 8px 8px;
	}

	&__field {
		width: 100%;
		margin-top: 12px;

		label {
			display: block;
			font-size: 14px;
			line-height: 1.75;
			font-weight: 600;
			margin-bottom: 4px;
		}

		input, select {
			margin: 0;
			appearance: none;

			padding: 0 8px;

			box-shadow: 0 0 0 transparent;
			border-radius: 4px;
			border: 1px solid #7e8993;
			background-color: #fff;
			color: #32373c;

			width: 100%;
			font-size: 14px;
			line-height: 2;
			min-height: 30px;


			&[type=number] {
				padding-right: 0;
			}
		}
	}

	> &__field:first-child {
		margin-top: 0;
	}
}




